@import "../../../styles/settings.scss";

// .root {
// }

.main {
  background-color: $color-primary;
  color: $color-light;
  text-transform: uppercase;
  padding: 12px 30px;
  position: relative;

  &:before {
    position: absolute;
    content: '';
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 100%;
    background-color: $color-light;
    transition: $transition;
  }

  &:hover {
    @extend %hover;
    background-color: inherit;
    color: $color-primary;
  }

  &:hover::before {
    width: 100%;
    background-color: inherit;
    border: 1px solid $color-light;
  }
}

.small {
  @extend .main;
  font-size: 13px;
  line-height: 24px;
  padding: 5px 10px;
  font-weight: 400;
}

.outline {
  padding: 10px 20px;
  border: 1px solid $color-primary;
  position: relative;

  &::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    background-color: $color-primary;
    height: 100%;
    width: 0;
    transition: $transition;
    z-index: -1;
  }

  &:hover:before {
    width: 100%;
  } 
}