@import '../../../styles/settings.scss';

.root {
  position: absolute;
  width: 100%;
  display: flex;
  padding: 36px 48px;
  align-items: center;
  justify-content: space-between;
  z-index: 999;
}

.logo {
  height: 36px;

  img {
    height: 100%;
  }
}

.navLink {
  margin: 0 20px;
  padding: 5px 0;
  text-transform: uppercase;
  position: relative;

  &::after {
    position: absolute;
    content: '';
    width: 0;
    background-color: $color-primary;
    bottom: -3px;
    left: 50%;
    transform: translateX(-50%);
    transition: $transition;
  }

  &:hover::after {
    height: 2px;
    width: 100%;
  }

  &.selected {
    border-bottom: 3px solid $color-primary;
  }
}

